!!! 5
%html{ lang: :ru, 'xmlns:fb' => "http://ogp.me/ns/fb#" }
  %head{ prefix: "og: http://ogp.me/ns# object: http://ogp.me/ns/object#" }
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : "open-cook.ru"

    = yield(:meta_data)

    = javascript_include_tag :advanced_editor
    = stylesheet_link_tag    :advanced_editor
    = yield :js

    %link(href="//open-cook.ru/favicon.ico" rel="shortcut icon")
    %meta(id="env_token" name="env_token" content="#{ Rails.env.to_s }")

    = csrf_meta_tags

  %body= yield
